In [46]:
#!pip install pandas

# Pandas ----> Pandas is an open-source of python that is used for handle data manipu;ations

In [47]:
import pandas as pd

In [48]:
# data structure of pandas
# (a) seris ---> it is an one dimensional array and it shows only values
#(b). data frame ----> it is multi dimensional array  and it contsi s values with coulm name.

# (a) series

In [49]:
a = pd.Series([1,45,78,90])
a

0     1
1    45
2    78
3    90
dtype: int64

In [50]:
type(a)

pandas.core.series.Series

# (b). data frame

In [51]:
import pandas as pd  

a = {
    "emp_id": [1, 2, 3, 4, 5],
    "name": ["samraj", "mohit", "aniketet", "palllavi","abhisek"],
    "department": ["it", "sales", "sales", "it", "it"],
    "salary": [20000, 66000, 310000, 700000, 1200000]
}

df = pd.DataFrame(a)
print(df)

   emp_id      name department   salary
0       1    samraj         it    20000
1       2     mohit      sales    66000
2       3  aniketet      sales   310000
3       4  palllavi         it   700000
4       5   abhisek         it  1200000