In [2]:
x=10,20,30
print(x[0:2], type(x))

(10, 20) <class 'tuple'>

x=(10,20,30)
print(id(x))
x=x+(40,50)
print(id(x))

In [9]:
userdetail={100:"kunal",101:"aman"}
print(userdetail[100])
print(type(userdetail))

kunal
<class 'dict'>

In [10]:
userdetail={100:"kunal",101:"aman"}
#insert
userdetail[102]="ujjwal"
userdetail[100]="yash" #update
print(userdetail)

{100: 'yash', 101: 'aman', 102: 'ujjwal'}

In [11]:
userdetail={100:"kunal",101:"aman"}
#deletedata
userdetail.pop(101)
print(userdetail)

{100: 'kunal'}

In [12]:
userdetail={100:"kunal",101:"aman"}
#deletedata(pop give a data)
out=userdetail.pop(101)
print(userdetail,out)

{100: 'kunal'} aman

In [14]:
userdetail={100:"kunal",101:"aman"}

out=userdetail.popitem()
print(userdetail,out)

{100: 'kunal'} (101, 'aman')

In [17]:
userdetail={100:"kunal",101:"aman"}
print("keys",userdetail.keys())
print("values:",userdetail.values())
print("keys and value:", userdetail.items())

keys dict_keys([100, 101])
values: dict_values(['kunal', 'aman'])
keys and value: dict_items([(100, 'kunal'), (101, 'aman')])

In [18]:
userdetail={100:"kunal",101:"aman"}

userdetail.update({100:15,107:"yash"})
print(userdetail)

{100: 15, 101: 'aman', 107: 'yash'}

In [22]:
mydictonary={"salary":100}
print(mydictonary["salary"])
mydictonary["salary"]= mydictonary["salary"]+90
print(mydictonary)

100
{'salary': 190}

In [29]:
dictonary={}
for i in range(10,16):
    if(i%2==0):
        dictonary[i]=1
print(dictonary)

{10: 1, 12: 1, 14: 1}

In [30]:
mydictonary={}
a="kunal"
for i in "kunal":
    if i in "a,e,i,o,u":
        mydictonary[i]=1
print(mydictonary)

{'u': 1, 'a': 1}

In [32]:
x={"sallary":100}
if("sallary" in x):
    x["sallary"]=x["sallary"]+10
else:
    x["sallary"]=10
print(x)

{'sallary': 110}

In [12]:
my={}
for i in "heyuuuura":
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"):
        my[i]=1
        i=i+1
my

TypeError: can only concatenate str (not "int") to str