In [1]:
x=50
print(id(x))

a=x
print=(id(a))

140706524508120

In [4]:
for i in range(0,5):
    print("hey",i)

hey 0
hey 1
hey 2
hey 3
hey 4

In [6]:
for i in range(1,7):
    print("hey",i)

hey 1
hey 2
hey 3
hey 4
hey 5
hey 6

In [14]:
for i in range(3,9,3):
    print("hey",i)

hey 3
hey 6

In [16]:
for i in range(9,3,-1):
    print("hey",i)

hey 9
hey 8
hey 7
hey 6
hey 5
hey 4

In [18]:
for i in range(11,13):
    print("hey",i)

hey 11
hey 12

In [28]:
for num in range(2,9):
    if(num%2==0):
        print("even",num)
    else:
        print("odd",num)

even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8

In [30]:
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [32]:
for i in range(97,55,-1):
    print(i)

97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56

In [52]:
  sum=0
for i in range(2,9,1):
    sum=sum+i
    print("sum",sum,"i=>",i)

sum 2 i 2
sum 5 i 3
sum 9 i 4
sum 14 i 5
sum 20 i 6
sum 27 i 7
sum 35 i 8

In [88]:
  sum=0
for i in range(97,66,-1):
    sum=sum+i
print("sum",sum,"i",i)

sum 2542 i 67

In [84]:
count=0
for i in range(7,37):
    count=count+1
print("count",count)

count 30

In [92]:
data="jaipur"
for i in data:
    print(i)

j
a
i
p
u
r

In [104]:
data="jaipur"
for i in range(0,6):
    print(i, data[i])

0 j
1 a
2 i
3 p
4 u
5 r

In [110]:
data="jaipur rajasthan"
print(len(data))
for i in range(0,16):
    print(i, data[i])

16
0 j
1 a
2 i
3 p
4 u
5 r
6
7 r
8 a
9 j
10 a
11 s
12 t
13 h
14 a
15 n